* {
   border: 0;
   padding: 0;
   margin: 0;
}
body {
   font-family: 'Balsamiq Sans', cursive;
}
.container {
   max-width: 1100px;
   margin: 0 auto;
}
.cloud {
   position: absolute;
}
.cloud1 {
   width: 130px;
   margin: 0;
   left: 150px;
   padding-top: 70px;

}
.cloud2 {
   margin: 0;
   right: 150px;
   bottom: 0;
   padding-bottom: 300px;
}
.cloud3 {
   left: 100px;
   padding-top: 70px;
}
.cloud4 {
   right: 0;
}
.header {
   background-color: #ffb6c1;
   span {
      margin-right: 19px;
   }
   &__list {
      height: 130px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      list-style-type: none;
      text-align: center;
   }
   &__block {
      position: relative;
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 130px;
      width: 130px;
      transition: 0.5s all;
      &:hover {
         height: 135px;
         width: 135px;
      }
   }
   &__link {
      display: block;
      text-decoration: none;
      color: white;
      font-size: 22px;
      font-weight: 300;
      z-index: 50;
      margin-top: 8px;
      margin-bottom: 2px;
      &_1 {
         margin: 7px 5px -12px 0;
      }
      &_2 {
         margin: 5px 0px -5px 2px;
         line-height: 15px;
      }
      &_3 {
         margin: 0px 3px -19px 0;
      }
   }
   &__img {
      position: absolute;
      width: 130px;
      height: 130px;
      top: -6px;
      transition: 0.5s all;
      

   }
   hr {
      border: 2px #66d9ff solid;
   }
}
.gallery {
   
   padding: 20px 0;
   h1 {
      text-transform: uppercase;
      font-size: 60px;
      color: #66d9ff;
      margin-top: 30px;  
      text-shadow: 1px 1px 1px #d4d4d4;
      font-weight: 800;
      text-align: center;
   }
   h2 {
      margin-top: 30px;
      margin-bottom: -40px;
      font-size: 45px;
      text-align: center;
      color: #ff8fa2;
      text-shadow: 0px 1px 0px #d4d4d4;
   }
   &__img {
      width: 400px;
      height: 400px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin: 0 auto;
      border: 3px solid pink;
      outline: none;      
   }
   &__slider {
      margin-top: 50px;
   }
   &__soup {
      margin-top: 70px;
      margin-bottom: -40px;
      font-size: 45px;
      text-align: center;
      color: #ff8fa2;
      text-shadow: 0px 1px 0px #d4d4d4;
   }
}

.order {
   min-height: 500px;
   padding: 50px 0;
   &__title {
      text-transform: uppercase;
      font-size: 60px;
      color: #66d9ff;
      margin-top: 10px;  
      text-shadow: 1px 1px 1px #d4d4d4;
      font-weight: 800;
      text-align: center;
   }
   &__list {
      margin-top: 30px;
      line-height: 30px;
      width: 500px;
   }
}

.contacts {
   min-height: 10px;
   hr {
      margin-top: 50px;
      border: 2px solid pink;
   }
   &__title {
      text-transform: uppercase;
      font-size: 60px;
      color: #66d9ff;
      margin-top: 30px;  
      text-shadow: 1px 1px 1px #d4d4d4;
      font-weight: 800;
      text-align: center;
   }
   &__link {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
      margin-top: 50px;
   }
   &__img {
      width: 60px;
      float: left;
      margin-right: 20px;
   }
   &__block {
      height: 60px;
      display: flex;
      align-items: center;
   }
   &__descr {
      font-size: 20px;
      font-weight: normal;
   }
   &__item {
      display: block;
      text-decoration: none;
      color: black;
   }
}

.footer {
   display: flex;
   align-items: center;
   height: 120px;
   text-align: center;
   font-size: 40px;
   color: white;
   background-color: #66d9ff;
}